:root {
  /* ================== THEME 1 ================== */

  /* Backgrounds */
  --Navy_850--main_background: hsl(222, 26%, 31%);
  --Navy_900--toggle_background-keypad_background: hsl(223, 31%, 20%);
  --Navy_950--screen_background: hsl(224, 36%, 15%);

  /* Keys */
  --Navy_700--key_background: hsl(225, 21%, 49%);
  --Navy_800--key_shadow: hsl(224, 28%, 35%);

  --Red_600--key_background_toggle: hsl(6, 63%, 50%);
  --Red_800--key_shadow: hsl(6, 70%, 34%);

  --Gray_200--key_background: hsl(0, 0%, 90%);
  --Gray_orange_400--key_shadow: hsl(28, 16%, 65%);

  /* Text */
  --Navy_750: hsl(221, 14%, 31%);
  --White: hsl(0, 100%, 100%);

  /* ================== THEME 2 ================== */

  /* Backgrounds */
  --Gray_200--main_background: hsl(0, 0%, 90%);
  --Gray_300--toggle_background-keypad_background: hsl(0, 5%, 81%);
  --Gray_100--screen_background: hsl(0, 0%, 93%);

  /* Keys */
  --Blue_500--key_background: hsl(185, 42%, 37%);
  --Blue_600--key_shadow: hsl(185, 58%, 25%);

  --Orange_700--key_background_toggle: hsl(25, 98%, 40%);
  --Orange_800--key_shadow: hsl(25, 99%, 27%);

  --Grey_200--key_background: hsl(0, 0%, 90%);
  --Grey_orange_450--key_shadow: hsl(35, 11%, 61%);

  /* Text */
  --Gray_900: hsl(60, 10%, 19%);
  --White_text: hsl(0, 100%, 100%);

  /* ================== THEME 3 ================== */

  /* Backgrounds */
  --Purple_950--main_background: hsl(268, 75%, 9%);
  --Purple_900--toggle_background-keypad_background-screen_background: hsl(
    268,
    71%,
    12%
  );

  /* Keys */
  --Purple_800--key_background: hsl(281, 89%, 26%);
  --Purple_400--key_shadow: hsl(285, 91%, 52%);

  --Cyan_500--key_background_toggle: hsl(176, 100%, 44%);
  --Cyan_400--key_shadow: hsl(177, 92%, 70%);

  --Purple_850--key_background: hsl(268, 47%, 21%);
  --Purple_750--key_shadow: hsl(290, 70%, 36%);

  /* Text */
  --Yellow_300: hsl(52, 100%, 62%);
  --Blue_950: hsl(198, 20%, 13%);
  --White_theme3: hsl(0, 100%, 100%);

  /* Fuente */
  --Fuente: "League Spartan", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: var(--Navy_850--main_background);
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.contenedor__general {
  
  display: flex;
  flex-direction: column;
  width: min(45rem,95%);
  height: 55rem;
  justify-content: space-between;
  margin: 4rem auto;
  gap: 1rem;
}
.contenedor__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--White);
}
.toggle {
}
.contenedor__display {
  display: flex;
  background-color: var(--Navy_950--screen_background);
  width: 100%;
  max-height: 12rem;
  height: auto;
  border-radius: 0.5rem;
  font-size: 5rem;
  align-items: center;
  justify-content: right;
  color: var(--White);
  padding: 1rem;
  font-family: var(--Fuente);
  padding-right: 2rem;
}
.bg-keypad {
  background-color: var(--Navy_900--toggle_background-keypad_background);
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: var(--Fuente);
}
.contenedor__botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  height: 25rem;
  justify-items: center;
  width: min(50rem,95%);
  margin: auto;
}
.contenedor__botones--opciones {
  display: flex;
  padding: 1rem;
  width: min(46rem,100%);
  margin: auto;
  gap: 1rem;
}
button {
  font-family: var(--Fuente);
  width: min(9rem,95%);
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 2px 0px 1px grey;
  height: 5rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--Navy_750);
}
button:nth-of-type(4) {
  background-color: var;
  background-color: var(--Navy_700--key_background);
  color: var(--White);
  box-shadow: 0 2px 0px 1px hsl(225, 21%, 55%) ;
}
#reset {
  background-color: var(--Navy_700--key_background);
  color:var(--White);
  flex: 1 1 50%;
  box-shadow: 0 2px 0px 1px hsl(225, 21%, 55%) ;
}
#equal {
  background-color: rgba(207, 35, 35, 0.822);
  box-shadow: 0 2px 0 1px  rgba(207, 35, 35);
  flex: 1 1 50%;
  color: var(--White);
}